In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
.appName("Filter Functions") \
.master("local[4]") \
.config("spark.driver.memory","4g") \
.config("spark.executor.memory","4g") \
.getOrCreate()

22/11/14 01:56:07 WARN Utils: Your hostname, batuhan-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
22/11/14 01:56:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/14 01:56:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
employee_data = [(10,"Selin Tekin","1999","100","F",2000),
                (20,"Batu Metin","1998","200","M",8000),
                (30,"Harun Kalaycı","2002","100",None,6000),
                (40,"Burcu Mercan","2010","100","F",7000),
                (50,"Onur Soylu","2008","400","M",1000),
                (60,"Seda Aslan","2014","500","F",5000),
                (70,"Cihat Yıldız","2004","600","M",5000),
                (80,"Onur Satık","2006","400","M",9000)]

employee_schema = ["employee_ıd","name","dob","employee_dept_id","gender","salary"]

employeeDF = spark.createDataFrame(data = employee_data, schema = employee_schema)

In [4]:
employeeDF.show(10)

+-----------+-------------+----+----------------+------+------+
|employee_ıd|         name| dob|employee_dept_id|gender|salary|
+-----------+-------------+----+----------------+------+------+
|         10|  Selin Tekin|1999|             100|     F|  2000|
|         20|   Batu Metin|1998|             200|     M|  8000|
|         30|Harun Kalaycı|2002|             100|  null|  6000|
|         40| Burcu Mercan|2010|             100|     F|  7000|
|         50|   Onur Soylu|2008|             400|     M|  1000|
|         60|   Seda Aslan|2014|             500|     F|  5000|
|         70| Cihat Yıldız|2004|             600|     M|  5000|
|         80|   Onur Satık|2006|             400|     M|  9000|
+-----------+-------------+----+----------------+------+------+

In [5]:
display(employeeDF)

DataFrame[employee_ıd: bigint, name: string, dob: string, employee_dept_id: string, gender: string, salary: bigint]

In [6]:
employeeDF.toPandas().head()

   employee_ıd           name   dob employee_dept_id gender  salary
0           10    Selin Tekin  1999              100      F    2000
1           20     Batu Metin  1998              200      M    8000
2           30  Harun Kalaycı  2002              100   None    6000
3           40   Burcu Mercan  2010              100      F    7000
4           50     Onur Soylu  2008              400      M    1000

In [7]:
(employeeDF.filter(employeeDF.salary == 5000)).show() # ==, <, >, <=, >=, !=

+-----------+------------+----+----------------+------+------+
|employee_ıd|        name| dob|employee_dept_id|gender|salary|
+-----------+------------+----+----------------+------+------+
|         60|  Seda Aslan|2014|             500|     F|  5000|
|         70|Cihat Yıldız|2004|             600|     M|  5000|
+-----------+------------+----+----------------+------+------+

In [8]:
(employeeDF.filter(employeeDF.salary < 5000)).show()

+-----------+-----------+----+----------------+------+------+
|employee_ıd|       name| dob|employee_dept_id|gender|salary|
+-----------+-----------+----+----------------+------+------+
|         10|Selin Tekin|1999|             100|     F|  2000|
|         50| Onur Soylu|2008|             400|     M|  1000|
+-----------+-----------+----+----------------+------+------+

In [9]:
(employeeDF.filter(employeeDF.salary >= 5000)).show()

+-----------+-------------+----+----------------+------+------+
|employee_ıd|         name| dob|employee_dept_id|gender|salary|
+-----------+-------------+----+----------------+------+------+
|         20|   Batu Metin|1998|             200|     M|  8000|
|         30|Harun Kalaycı|2002|             100|  null|  6000|
|         40| Burcu Mercan|2010|             100|     F|  7000|
|         60|   Seda Aslan|2014|             500|     F|  5000|
|         70| Cihat Yıldız|2004|             600|     M|  5000|
|         80|   Onur Satık|2006|             400|     M|  9000|
+-----------+-------------+----+----------------+------+------+

In [10]:
(employeeDF.filter(employeeDF.salary != 5000)).show()

+-----------+-------------+----+----------------+------+------+
|employee_ıd|         name| dob|employee_dept_id|gender|salary|
+-----------+-------------+----+----------------+------+------+
|         10|  Selin Tekin|1999|             100|     F|  2000|
|         20|   Batu Metin|1998|             200|     M|  8000|
|         30|Harun Kalaycı|2002|             100|  null|  6000|
|         40| Burcu Mercan|2010|             100|     F|  7000|
|         50|   Onur Soylu|2008|             400|     M|  1000|
|         80|   Onur Satık|2006|             400|     M|  9000|
+-----------+-------------+----+----------------+------+------+

In [11]:
(employeeDF.filter(employeeDF.gender == "F")).show()

+-----------+------------+----+----------------+------+------+
|employee_ıd|        name| dob|employee_dept_id|gender|salary|
+-----------+------------+----+----------------+------+------+
|         10| Selin Tekin|1999|             100|     F|  2000|
|         40|Burcu Mercan|2010|             100|     F|  7000|
|         60|  Seda Aslan|2014|             500|     F|  5000|
+-----------+------------+----+----------------+------+------+

In [12]:
(employeeDF.filter(employeeDF.gender == "M")).show()

+-----------+------------+----+----------------+------+------+
|employee_ıd|        name| dob|employee_dept_id|gender|salary|
+-----------+------------+----+----------------+------+------+
|         20|  Batu Metin|1998|             200|     M|  8000|
|         50|  Onur Soylu|2008|             400|     M|  1000|
|         70|Cihat Yıldız|2004|             600|     M|  5000|
|         80|  Onur Satık|2006|             400|     M|  9000|
+-----------+------------+----+----------------+------+------+

In [13]:
(employeeDF.filter(employeeDF.name.endswith("z"))).show()

+-----------+------------+----+----------------+------+------+
|employee_ıd|        name| dob|employee_dept_id|gender|salary|
+-----------+------------+----+----------------+------+------+
|         70|Cihat Yıldız|2004|             600|     M|  5000|
+-----------+------------+----+----------------+------+------+

In [14]:
(employeeDF.filter(employeeDF.name.startswith("B"))).show()

+-----------+------------+----+----------------+------+------+
|employee_ıd|        name| dob|employee_dept_id|gender|salary|
+-----------+------------+----+----------------+------+------+
|         20|  Batu Metin|1998|             200|     M|  8000|
|         40|Burcu Mercan|2010|             100|     F|  7000|
+-----------+------------+----+----------------+------+------+

In [15]:
(employeeDF.filter((employeeDF.gender == "F") | (employeeDF.dob == 2004))).show() # will bring value 
# if at least 1 statement is true

+-----------+------------+----+----------------+------+------+
|employee_ıd|        name| dob|employee_dept_id|gender|salary|
+-----------+------------+----+----------------+------+------+
|         10| Selin Tekin|1999|             100|     F|  2000|
|         40|Burcu Mercan|2010|             100|     F|  7000|
|         60|  Seda Aslan|2014|             500|     F|  5000|
|         70|Cihat Yıldız|2004|             600|     M|  5000|
+-----------+------------+----+----------------+------+------+

In [16]:
(employeeDF.filter((employeeDF.gender == "M") & (employeeDF.dob == 2004))).show()

+-----------+------------+----+----------------+------+------+
|employee_ıd|        name| dob|employee_dept_id|gender|salary|
+-----------+------------+----+----------------+------+------+
|         70|Cihat Yıldız|2004|             600|     M|  5000|
+-----------+------------+----+----------------+------+------+

In [17]:
(employeeDF.filter((employeeDF.gender == "M") & (employeeDF.salary == 5000))).show() # will bring value
# if both statement is true

+-----------+------------+----+----------------+------+------+
|employee_ıd|        name| dob|employee_dept_id|gender|salary|
+-----------+------------+----+----------------+------+------+
|         70|Cihat Yıldız|2004|             600|     M|  5000|
+-----------+------------+----+----------------+------+------+

In [18]:
(employeeDF.filter((employeeDF.gender == "M") | (employeeDF.salary == 5000))).show()

+-----------+------------+----+----------------+------+------+
|employee_ıd|        name| dob|employee_dept_id|gender|salary|
+-----------+------------+----+----------------+------+------+
|         20|  Batu Metin|1998|             200|     M|  8000|
|         50|  Onur Soylu|2008|             400|     M|  1000|
|         60|  Seda Aslan|2014|             500|     F|  5000|
|         70|Cihat Yıldız|2004|             600|     M|  5000|
|         80|  Onur Satık|2006|             400|     M|  9000|
+-----------+------------+----+----------------+------+------+

In [19]:
(employeeDF.filter(employeeDF.salary.isin(6000,8000,5000) )).show()

+-----------+-------------+----+----------------+------+------+
|employee_ıd|         name| dob|employee_dept_id|gender|salary|
+-----------+-------------+----+----------------+------+------+
|         20|   Batu Metin|1998|             200|     M|  8000|
|         30|Harun Kalaycı|2002|             100|  null|  6000|
|         60|   Seda Aslan|2014|             500|     F|  5000|
|         70| Cihat Yıldız|2004|             600|     M|  5000|
+-----------+-------------+----+----------------+------+------+

In [20]:
(employeeDF.filter(employeeDF.name.like("%Batu Metin"))).show()

+-----------+----------+----+----------------+------+------+
|employee_ıd|      name| dob|employee_dept_id|gender|salary|
+-----------+----------+----+----------------+------+------+
|         20|Batu Metin|1998|             200|     M|  8000|
+-----------+----------+----+----------------+------+------+

In [21]:
(employeeDF.filter(employeeDF.name.like("%Onur%"))).show() # if you put put two percent sings the filter
# will be more smoothly

+-----------+----------+----+----------------+------+------+
|employee_ıd|      name| dob|employee_dept_id|gender|salary|
+-----------+----------+----+----------------+------+------+
|         50|Onur Soylu|2008|             400|     M|  1000|
|         80|Onur Satık|2006|             400|     M|  9000|
+-----------+----------+----+----------------+------+------+

In [22]:
(employeeDF.filter(employeeDF.name.like("%Onur"))).show() # if you put one percent sing the filter must be
# completely true

+-----------+----+---+----------------+------+------+
|employee_ıd|name|dob|employee_dept_id|gender|salary|
+-----------+----+---+----------------+------+------+
+-----------+----+---+----------------+------+------+